/*
 
The Project By CodErdal
https://coderdal.github.io

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* header */

header{
    padding: 20px 20px;
}

header .logo{
    margin-left: 5%;
}

header .logo h2{
    font-size: 1.8em;
}

header .logo a{
    color: white;
}

/* header */

/* section */

section .main{
    position: absolute;
    background-size: cover !important;
    background: url("../img/backg.jpg");
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 60%);
}

/* section */

/* typer */

section .main .typer {
    margin-left: 7%;
    font-size: 1.6rem;
    margin-top: 170px;
}

section .main .typer  p {
    color: white;
    margin-top: 5px;
}

section .main .type::after {
    content: "|";
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }

  section .typer .auth span {
    color: white;
    font-family: inherit;
    font-size: 0.9em;
    display: inline;
    margin-left: 9px;
}

section .typer .auth p {
    display: inline;
}

/* typer */


/* social */

section .main .social{
    margin-top: 100px;
    text-align: center;
}

section .main .social i{
    color: white;
    font-size: 30px;
    padding: 5px;
}

section .main .social i:hover{
    color: #645f93;
}

/* social */

/* compatibility */

@media only screen and (min-width: 450px) {

    section .main .social i{
        font-size: 33px;
    }

    section .main .typer {
        text-align: center;
        font-size: 2rem;
        margin-left: 0 !important;
    }

}

/* compatibility */

canvas {
    display: block;
    opacity:0.3;
}


/*
 
The Project By CodErdal
https://coderdal.github.io

*/